<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="flexboxgrid.min.css">
        <link rel="stylesheet" href="bicimad.report.css">
    </head>
    <body>
        <!-- HEADER -->
        <div class="row row-separator">
            <div class="col-xs-1">
                <div class="box">&nbsp;</div>
            </div>
            <div class="col-xs-7">
                    <div class="box theader">Nombre</div>
            </div>
            <div class="col-xs-2">
                <div class="box theader right">Bikes</div>
            </div>
            <div class="col-xs-2">
                <div class="box theader right">Docks</div>
            </div>
        </div>
        <!-- DATA -->
        %@
    </body>
</html>