<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="flexboxgrid.min.css">
        <link rel="stylesheet" href="bicimad.report.css">
    </head>
    <body>
        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="box">
                    <count>Uso del mes anterior</count>                              
                </div>
            </div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="box">
                    <small>Los datos del mes de %@ de %@</small>                              
                </div>
            </div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="box">
                    <canvas id="MonthChart" width="100%" height="90%"></canvas>
                </div>
            </div>
        </div>
        <div class="row center-xs bottom-xs">
            <div class="col-xs-12">
                <div class="box">
                    <p><note>Datos proporcionados por el Portal de Datos Abiertos del Ayuntamiento de Madrid</note></p>
                </div>
            </div>
        </div>
    </body>
    <script src="Chart.bundle.min.js"></script>
    <script>
        var ctx = document.getElementById("MonthChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: ["01/04","02/04","03/04","04/04","05/04","06/04","07/04","08/04","09/04","10/04","11/04","12/04","13/04","14/04","15/04","16/04","17/04","18/04","19/04","20/04","21/04","22/04","23/04","24/04","25/04","26/04","27/04","28/04","29/04","30/04"],
                datasets: [
                    {
                        label: "Anuales",
                        data: [%@],
                        borderColor: "#4ed3f4",
                        backgroundColor: "#4ed3f4",
                        fill: false,
                        cubicInterpolationMode: "default",
                        pointRadius: 0
                    },
                    {
                        label: "Ocasionales",
                        data: [%@],
                        borderColor: "#b4fd28",
                        backgroundColor: "#b4fd28",
                        fill: false,
                        cubicInterpolationMode: "default",
                        pointRadius: 0
                    }
                ]
            },
            options: {
                legend: {
                    display: true,
                    position: "bottom",
                    labels: {
                        fontColor: "#000000",
                        fontFamily: "-apple-system",
                        fontSize: 12,
                        padding: 10,
                        boxWidth: 12
                    }
                }
            }
        })
    </script>
</html>
